Thumbs.db
~$*
*.vshost.exe*
*.log
*.suo
.DS_Store
ExcelReader.Cache/
.*/

Newtonsoft.Json.xml
ClosedXML.xml
protobuf-net.pdb
protobuf-net.xml
YamlDotNet.xml
Cyotek.Drawing.BitmapFont.xml
System.Data.SQLite.xml
SevenZip.xml
plist-cil.xml

/GMTool/gmserver.xml
/GMTool/monitorserver.xml

