<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GX.VersionTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebMarkupMin.Core" publicKeyToken="99472178d266584b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GX.VersionTool.Properties.Settings>
      <setting name="VersionFileName" serializeAs="String">
        <value>{0}</value>
      </setting>
      <setting name="VersionWebFileName" serializeAs="String">
        <value>{0}{1}</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String">
        <value>archive</value>
      </setting>
      <setting name="PathFilter" serializeAs="Xml">
        <value>
          <RegexFilter>
            <Ignore Options="IgnoreCase, Compiled" Pattern="\\\.(git|svn)\\" />
            <Ignore Options="IgnoreCase, Compiled" Pattern="~$" />
            <Ignore Options="IgnoreCase, Compiled" Pattern="\.meta$" />
          </RegexFilter>
        </value>
      </setting>
    </GX.VersionTool.Properties.Settings>
  </userSettings>
</configuration>