<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageOptimize.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <ImageOptimize.Properties.Settings>
            <setting name="PngTool" serializeAs="String">
                <value>{0}\pngquant\pngquant.exe</value>
            </setting>
            <setting name="PngArgs" serializeAs="String">
                <value>--force --verbose --ext .png --quality={0} "{1}"</value>
            </setting>
            <setting name="JpgTool" serializeAs="String">
                <value>{0}\ImageMagick\convert.exe</value>
            </setting>
            <setting name="JpgArgs" serializeAs="String">
                <value>"{1}" -quality {0} "{1}"</value>
            </setting>
            <setting name="PathFilter" serializeAs="Xml">
                <value>
                    <RegexFilter>
                        <Match Options="IgnoreCase" Pattern="\.(jpg|jpeg|png)$" />
                    </RegexFilter>
                </value>
            </setting>
        </ImageOptimize.Properties.Settings>
    </userSettings>
</configuration>