<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImagePack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AtlasPacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImagePack.Properties.Settings>
            <setting name="PackerAlgorithm" serializeAs="String">
                <value>Nuclex.Game.Packing.ArevaloRectanglePacker</value>
            </setting>
            <setting name="DefaultSize" serializeAs="String">
                <value>1024, 1024</value>
            </setting>
            <setting name="Margin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Parallel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathFilter" serializeAs="Xml">
                <value>
                    <RegexFilter>
                        <Match Options="IgnoreCase" Pattern="\.(jpg|jpeg|png|bmp|tiff)$" />
                    </RegexFilter>
                </value>
            </setting>
        </ImagePack.Properties.Settings>
        <AtlasPacker.Properties.Settings>
            <setting name="PackerAlgorithm" serializeAs="String">
                <value>Nuclex.Game.Packing.ArevaloRectanglePacker</value>
            </setting>
            <setting name="DefaultSize" serializeAs="String">
                <value>1024, 1024</value>
            </setting>
            <setting name="Margin" serializeAs="String">
                <value>1</value>
            </setting>
        </AtlasPacker.Properties.Settings>
    </userSettings>
</configuration>