<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Yam.Tools.ImageCut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="CutImage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Yam.Tools.ImageCut.Properties.Settings>
   <setting name="CutArgs" serializeAs="String">
    <value>"{2}\{3}{4}" -crop {0}x{1} -set filename:tile "%[fx:page.y/{1}]-%[fx:page.x/{0}]" +repage +adjoin "{2}\{3}\%[filename:tile]{4}"</value>
   </setting>
   <setting name="CutTool" serializeAs="String">
    <value>{0}\ImageMagick\convert.exe</value>
   </setting>
  </Yam.Tools.ImageCut.Properties.Settings>
	</userSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
</configuration>
