<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yam.I18N.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Yam.I18N.Properties.Settings>
            <setting name="RegexChinese" serializeAs="String">
                <value>[\u4e00-\u9fa5\u3001-\u303f]+</value>
            </setting>
            <setting name="RegexChineseGreedy" serializeAs="String">
                <value>[^\u0000-\u00ff](.*[^\u0000-\u00ff])?</value>
            </setting>
            <setting name="RegexLuaLineComment" serializeAs="String">
                <value>--.*$</value>
            </setting>
            <setting name="RegexSpaceSplit" serializeAs="String">
                <value>^("\s*)(.*?)(\s*")$</value>
            </setting>
            <setting name="RegexString" serializeAs="String">
                <value>"[^"\\]*(?:\\.[^"\\]*)*"</value>
            </setting>
            <setting name="RegexXmlAttribute1" serializeAs="String">
                <value>('\s*)(.*?)(\s*')</value>
            </setting>
            <setting name="RegexXmlAttribute2" serializeAs="String">
                <value>("\s*)(.*?)(\s*")</value>
            </setting>
            <setting name="RegexXmlComment" serializeAs="String">
                <value>\&lt;!--.*?--\&gt;</value>
            </setting>
            <setting name="RegexXmlElement" serializeAs="String">
                <value>(\&gt;\s*)(.*?)(\s*\&lt;)</value>
            </setting>
            <setting name="CodePage" serializeAs="String">
                <value>936</value>
            </setting>
        </Yam.I18N.Properties.Settings>
    </userSettings>
</configuration>