<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yam.Microsoft.Translator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LanguageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.microsofttranslator.com/V2/soap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
                contract="LanguageService.LanguageService" name="BasicHttpBinding_LanguageService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Yam.Microsoft.Translator.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>MiaodadaoTranslator</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>Gt0DhyDvZvebXKQhQUz6GaS7KqW8WyeJvZJG757mVho=</value>
            </setting>
        </Yam.Microsoft.Translator.Properties.Settings>
    </userSettings>
</configuration>