<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="GX.Table.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<runtime>
		<!--防止VSTO启动时访问微软官方进行证书有效性校验，加快启动速度-->
		<generatePublisherEvidence enabled="false"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<userSettings>
		<GX.Table.Properties.Settings>
      <setting name="Parallel" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="ComplexNameFormat" serializeAs="String">
          <value>{0}Item</value>
      </setting>
      <setting name="ExcelReaderCachePath" serializeAs="Xml">
          <value>
              <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <string>ExcelReader.Cache</string>
              </ArrayOfString>
          </value>
      </setting>
      <setting name="PathFilter" serializeAs="Xml">
          <value>
              <RegexFilter>
                  <Match Options="IgnoreCase" Pattern="\.(table)$" />
              </RegexFilter>
          </value>
      </setting>
  </GX.Table.Properties.Settings>
	</userSettings>
</configuration>
